
*, *::before, *::after {
  box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, h6, p, figure, blockquote, dl, dd {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
ol {
    padding: 0;
  margin: 0;
}

body {
  min-height: 100dvh;
  font-family: system-ui, sans-serif;
  line-height: 1.5;
  background-color: var(--background-light);
  color: var(--text-dark);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  width: 100%;
  overflow-x: clip;
   padding: 0;
   margin: 0;
   scroll-behavior: smooth;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}
input,textarea{
  border: 2px solid #666666;
  border-radius: var( --border-radius-md);
  padding:var(--spacing-xs) var(--spacing-sm);
}

button {
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
  appearance: none;
  -webkit-tap-highlight-color: transparent;
}

a {
  text-decoration: none;
  color: inherit;
}

html{
  scroll-behavior: smooth;
}
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

