.pagination-wrapper {
  display: flex;
  gap: var(--spacing-md);
  align-items: center;
  justify-content: center;
}

.pagination-btn {
  cursor: pointer;
  padding: var(--spacing-sm);
  border: 1px solid var(--text-dark);
  border-radius: 50%;
}

.pagination-btn:hover {
  background: var(--background-dark);
  fill: var(--text-light);
}

.pagination-btn.disabled {
  opacity: 0;
  visibility: hidden;
}

.page-numbers {
  display: flex;
  gap: var(--spacing-md);
  align-items: self-end;
  color: var(--text-dark);
}

.page-number {
  padding: var(--spacing-sm) var(--spacing-md);
  border: 1px solid var(--text-dark);
  border-radius: 50%;
  background: transparent;
  cursor: pointer;
}

.page-number:hover,
.page-number.active {
  background: var(--background-dark);
  color: var(--text-light);
}
